.education{
    margin-left: 10px;
}
#hobbies{
    margin-left: 10pt;
}
.we{
    margin-top: 25px;
    
}
.facebook{
    margin-bottom: 3px;
}
.name{
    margin-bottom: 5px;

}
.username{
    margin-bottom: 3px;
}
.district{
    margin-bottom: 3px;
}
#hobby{
    margin-bottom:2px;
} 
.email{
    margin-bottom: 3px;
}
.eee{
    margin-bottom: 2px;
}
.contact{
    margin-bottom: 3px;
}
.message{
    margin-bottom: 3px;
}
.submit{
    margin-left: 30px;
}

     
    
